/*Basic Reset*/
* {margin: 0; padding: 0;}

html{
	height: 100%;
}

body{
	position: relative;
	height:auto !important; /*IE6対策*/
    height: 100%; /*IE6対策*/
    min-height: 100%;
	background: url(school.jpg) no-repeat center center fixed; 
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "メイリオ",arial, verdana;
	color: #432816; 
}

.header{
	color: #fff;
	width: 100%;
    height:auto !important; /*IE6対策*/
    height: 100%; /*IE6対策*/
    min-height: 100%;
    font-size: 15px;
	font-family: "メイリオ", arial, verdana;
	line-height: 400%;
	text-align: center;
}

.modoru{
	margin-left: 5%;
	padding: 2%;
	text-decoration: none;
    border-radius:10px;
    background: rgba(255,255,255,0.8);
}

.small{
	font-size: 10px;
}

#kaitousu .small{
	text-align: right;
}

.syu a, a:hover, a:visited, a:link{
	text-decoration: none;
	color: #432816;
}

.syu a:active{
	color: #C0C0C0;
}

.syu{
	text-align: left;
	margin-top: 4%;
	padding: 4%;
	padding-bottom: 10%;
	margin-left: 5%;
	width:82%;
    height:90%;
    margin:10%,10%;
    background: rgba(255,255,255,0.8);
    border-radius:10px;
}

.syu h3{
	font-weight: 900;
	font-size: 150%;
	letter-spacing:1.0pt;
}

.syu h4{
	font-weight: 900;
	font-size: 120%;
	padding-top: 6%;
	letter-spacing:1.0pt;
}

table{
	table-layout:fixed;
	width:100%;
}

th{
	display:table;
	width: 20%;
	padding: 4px;
	text-align: center;
	vertical-align: top;
	color: #444;
	background-color: #ccc;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

td{
	margin:auto 10%;
	text-align: center;
	padding: 3%;
	background-color: #fafafa;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.e{
	width:35%;
}

.comment{
	margin:6%;
	padding:5%;
	border:dashed 1px;
	border-radius:10px;
}

.popup-content{
	display: none;
}

.popup-unit:hover .popup-content{
	display: block;
}

.popup-box {
	background-color:#d1f0d1;
	position: fixed;
	top: 30%;
	bottom: 30%;
	left: 15%;
	right: 15%;
}

.popup-text{
	text-align: left;
	margin-top: 4%;
	padding: 4%;
	padding-bottom: 10%;
	margin-left: 5%;
	margin-right:5%;
    background: #fff;
    border-radius:10px;
}

.popup-button{
	background:#72d082;
	color: #432816; 
	font-family: "メイリオ";
	font-weight: 900;
	font-size: 120%;
	padding: 8%;
	margin: 10% 16%;
	width: 52%;
}

.popup-btn{
	border: solid 5px;
	border-color:#88c551;
	padding:5%;
}

select{
	margin:10% 0;
	padding:2%;
	font-size:100%;
}

.syubtn input[type=radio]{
	display: none;
}

.syubtn .radio{
	box-sizing: border-box;
	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
	position: relative;
	display: inline-block;
	margin: 2% auto;
	padding: 10px 15px;
	border-radius: 100px;
	background-color: #f6f7f8;
	vertical-align: middle；
	cursor: pointer；
}
.syubtn .radio:hover{
	background-color: #72d082;
}

.syubtn .radio:hover:after{
	border-color: #53b300;
}

.syubtn input[type=radio]:checked + label{
	background-color: #72d082;
}

.syubtn input[type=radio]:checked + .radio:before {
	opacity: 1;
}

textarea{
	resize: none;
	border-radius:5px;
	font-family: "メイリオ";
	font-size: 100%;
	padding: 2%;
	width: 80%;
	height:30%;
	margin: 0 8%;
}

.button{
	background: rgba(160,221,154,0.6);
	color: #432816; 
	border-radius:100px;
	font-family: "メイリオ";
	font-weight: 900;
	font-size: 120%;
	padding: 8%;
	margin: 10% 22%;
	width: 52%;
}

.footer{
	color: #fff;
	height:50px;
	margin-top: 5%;
   	text-align: center;
}